{% extends "base_generic.html" %}

{% block title %}<title>{{meeting.name}}</title>{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %} {{form.as_p }} 
    MeetingID: {{meeting.meetingid}}<br>
    Meeting Name: <input type="text" id="name" name="name" value="{{meeting.name}}" required data-error="please enter the name of this meeting"><br>
    Date: <input type="date" id="date" name="date" value="{{date_str}}"><br>
    Time:
    <input type="time" id="starttime" name="starttime" value="{{starttime_str}}" required> 
    -  
    <input type="time" id="endtime" name="endtime"  value="{{endtime_str}}" required>
    <br>
    participant: {{host}}, {{participant}}<br>
    Remark: <input type="text" id="remark" name="remark" value="{{meeting.remark}}" required data-error="please enter the name of this meeting"><br>
    <input type="hidden" id="meetingid" name="meetingid" value="{{meeting.meetingid}}">
    <button class="btn btn-common" id="submit" type="submit" vlaue="ok">Change</button>
</form>
<p style="background-color:Tomato;">{{ formError }}</p>
<p style="background-color:MediumSeaGreen;">{{ formSuccess }}</p>
<div>
    <input type="button" onclick="location.href='/meeting/';" value="Return">
</div>

{% endblock %}