{% extends "base_generic.html" %}

{% block title %}<title>{{meeting.name}}</title>{% endblock %}

{% block content %}
<table class="table table-sm">
    <tr class="table-active">
        <th width="10%" scope="col">MeetingID:</th>
        <td width="90%">{{meeting.meetingid}}</td>
    </tr>
    <tr>
        <th scope="col">Meeting Name:</th>
        <td>{{meeting.name}}</td>
    </tr>
    <tr class="table-active">
        <th scope="col">Date:</th>
        <td>{{meeting.date}}</td>
    </tr>
    <tr>
        <th scope="col">Time:</th>
        <td>{{meeting.starttime}} - {{meeting.endtime}}</td>
    </tr>
    <tr class="table-active">
        <th scope="col">Participants:</th>
        <td>{{host}}, {{participant}}</td>
    </tr>
    <tr>
        <th scope="col">Remark:</th>
        <td>{{meeting.remark}}</td>
    </tr>
</table>
<div>
    <input type="button" class="btn btn-dark" onclick="location.href='/meeting/';" value="Return">
</div>


{% endblock %}