{% extends "base_generic.html" %}

{% block title %}<title>{{meeting.name}}</title>{% endblock %}

{% block content %}
<table class="table table-sm">
    <tr class="table-active">
        <th scope="col">MeetingID:</th>
        <th scope="col">{{meeting.meetingid}}</th>
    </tr>
    <tr>
        <th scope="col">Meeting Name:</th>
        <th scope="col">{{meeting.name}}</th>
    </tr>
    <tr class="table-active">
        <th scope="col">Date:</th>
        <th scope="col">{{meeting.date}}</th>
    </tr>
    <tr>
        <th scope="col">Time:</th>
        <th scope="col">{{meeting.starttime}} - {{meeting.endtime}}</th>
    </tr>
    <tr class="table-active">
        <th scope="col">Participants:</th>
        <th scope="col">{{host}}, {{participant}}</th>
    </tr>
    <tr>
        <th scope="col">Remark:</th>
        <th scope="col">{{meeting.remark}}</th>
    </tr>
</table>
<div>
    <input type="button" class="btn btn-dark" onclick="location.href='/meeting/';" value="Return">
</div>


{% endblock %}