{% extends "base_generic.html" %}

{% block title %}<title>Slot removal</title>{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %} {{form.as_p }} 
    <br>
    <label for="groupselect">Select Group</label>
    <select id="groupselect" name="groupselect">
        {% for gp in grouplist %} 
        <option value="{{ gp }}">{{ gp }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-secondary" name="group_select" id="group_select" type="submit" value="ok">Choose</button>
</form>

<br>
{% for gp in availableTimes %}
    <div class="alert alert-primary" role="alert">
    Group: {{gp.group}} 
    </div>
    <table class="table table-striped">
        <tr class="table-active">
            <th width="10%" scope="col">ID</th>
            <th width="35%">Start</th>
            <th width="35%">End</th>
        </tr>
        {% for s in gp.slots %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.start}}</td>
            <td>{{s.end}}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
<br>
<p style="background-color:Tomato;">{{ formError }}</p>
<p style="background-color:MediumSeaGreen;">{{ formSuccess }}</p>
<input class="btn btn-dark" type="button"onclick="location.href='/calendar/';" value="Return">
<br><br>

{% if currentGroup != 'All' %}
<form action="" method="post">{% csrf_token %} {{form.as_p }}
    <div class="alert alert-success" role="alert">
        <h2>Remove Slot</h2>
    </div> 
    <div class="alert alert-secondary" role="alert">
        {% if failedSubmission.flag %}
        <p style="background-color:Tomato;">Your Rejected list:<br>{{ failedSubmission.list }}</p>
        {% endif %}
        For group: {{currentGroup}}
        <textarea name="selectionlist" style="width:100%" rows="10" maxlength="4000"></textarea><br>
        <input type="hidden" id="group" name="group" value="{{ currentGroup }}">
        <br>
            <button class="btn btn-primary" name="slot_select" id="slot_select" type="submit" value="ok">Save</button>

    </div>
</form>
{% else %}
    You have not select any group<br>
    Please choose one group on the top.
{% endif %}

{% endblock %}