<!-- <!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title> ORS-My Calendar </title>
    <style>
        body {
           background-color: rgb(189, 189, 189);
        }
        em {
            color: #06396F;
        }
    </style>
</head>

<body> -->
{% extends "base_generic.html" %}

{% block content %}
    <br>
    {% autoescape off %}
    {% for gp in availableTimes %}
    <div class="alert alert-primary" role="alert">
        Group: {{gp.group}}
    </div>
    {% if gp.slot_enough %}
        <p style="background-color:MediumSeaGreen;">
    {% else %}
        <p style="background-color:orange;">
    {% endif %}
    Recommanded number of slot: {{gp.suggested}}, Current number of slot: {{gp.current}}
    </p>

    <table class="table table-striped">
        <tr class="table-active">
            <th width="10%" scope="col">ID</th>
            <th width="35%">Start</th>
            <th width="35%">End</th>
        </tr>
        {% for s in gp.slots %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.start}}</td>
            <td>{{s.end}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endfor %}
    {% endautoescape %}
    <br>
    <input type="button" class="btn btn-danger" onclick="location.href='remove';" value="Delete enterd slot">
    <input type="button" class="btn btn-success" onclick="location.href='minimumslot';" value="Set minimum required slot">
    <br>
    <p style="background-color:Tomato;">{{ formError }}</p>
<div>
  <form action="" method="post">{% csrf_token %} {{form.as_p }} 
        <h3>Add new availavle times</h3>
        For Group: <select id="group" name="group">
            {% for gp in group_list %} 
            <option value="{{ gp }}">{{ gp }}</option>
            {% endfor %}
        </select>
        <br>
        Date<input type="date" id="date" name="date"><br>
        Start Time:
        <select id="startHour" name="startHour">
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option> 
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
        
        </select>
        :
      <input type="number" id="startMinute" name="startMinute" min="0" max="59" required data-error="Start Minute cannot be empty">
      <br>
      <lable for="meetingLength">Please enter the duration of each meeting (in minutes):</lable>
      <!-- The following line are expected to have the min and max field (meeting length) to be set by config on database) -->
      <input type="number" id="meetingLength" name="meetingLength" min="1" max="180" required data-error="incorrect meeting length">
      <br>
      <lable for="numberOfMeeting">Please enter number of meeting of this session</lable>
      <input type="number" id="numberOfMeeting" name="numberOfMeeting" min="1" required data-error="incorrect number"> 
      <br>
      {% if computed_details.not_empty %}
        <button class="btn btn-primary" id="submit" type="submit" value="ok">Change</button>
      {% else %}
        <button class="btn btn-primary" id="submit" type="submit" value="ok">Add</button>
      {% endif %}
  </form>
</div>
<br>
<div>
    
    {% if computed_details.not_empty %}
        <div class="alert alert-info" role="alert">
            <h5>Please check the details and click "Confirm" to submit it, or re-fill the form above to change it</h5>
            <table class="table table-sm">
                <tr class="table-active">
                    <th width="20%" scope="col">For:</th>
                    <td width="80%">{{computed_details.group}}</td>
                </tr>
                <tr>
                    <th scope="col">Start:</th>
                    <td>{{computed_details.startTime}}</td>
                </tr>
                <tr class="table-active">
                    <th scope="col">End:</th>
                    <td>{{computed_details.endTime}}</td>
                </tr>
                <tr>
                    <th scope="col">Number of Meeting:</th>
                    <td>{{computed_details.no_of_meeting}} Meeting(s)</td>
                </tr>
                <tr class="table-active">
                    <th scope="col">Duration of each Meeting:</th>
                    <td>{{computed_details.duration}} minutes long</td>
                </tr>
            </table>
        </div>
        <br>
        <form action="confirm" method="post">{% csrf_token %} {{form.as_p }} 
            <input type="hidden" id="confirm_group" name="confirm_group" value="{{computed_details.group}}">
            <input type="hidden" id="confirm_startTime" name="confirm_startTime" value="{{ computed_details.startTime_str }}">
            <input type="hidden" id="confirm_no_of_meeting" name="confirm_no_of_meeting" value="{{ computed_details.no_of_meeting }}">
            <input type="hidden" id="confirm_duration" name="confirm_duration" value="{{ computed_details.duration }}">
            <button class="btn btn-primary" id="submit" type="submit" value="ok">Confirm</button>
        </form>
    {% endif %}
</div>
    <br>
    <input type="button" class="btn btn-dark" onclick="location.href='/dashboard';" value="back">
{% endblock %}
<!-- </body>
</html> -->
