<!--
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title> ORS-Dashboard </title>
    <style>
        body {
           background-color: rgb(189, 189, 189);
        }
        em {
            color: #06396F;
        }
    </style>
</head>
<body>
-->
{% extends "base_generic.html" %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block content %}

    <h1>Welcome Back, {{username}}</h1>
    <br>
<div>
    {{message_counter}} unread message(s)
        <br>
    <input type="button" onclick="location.href='/message';" value="Details">
    <input type="button" onclick="location.href='/message/create';" value="Creat New Message">
</div>
    <br>
<div>
    Meetings:<br>
    <input type="button"onclick="location.href='/meeting';" value="Details">
</div>
<div>
    My Calendar
    <br>
    <input type="button"onclick="location.href='/calendar/';" value="My Calendar">
    <input type="button"onclick="location.href='/selection/';" value="Slot Selection">
</div>
    <br>
    <input type="button" onclick="location.href='/login/logout';" value="Logout">
{% endblock %}
<!--
</body>
</html>
-->