<!---
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>ORS-Message</title>
    <style>
        body {
           background-color: rgb(189, 189, 189);
        }
        em {
            color: #06396F;
        }
    </style>
</head>

<body>
-->
{% extends "base_generic.html" %}

{% block title %}<title>ORS-Message</title>{% endblock %}

{% block content %}
  <div>
    <input type="button" onclick="location.href='/message/create';" value="Sent New Message">
  </div>
  <div>
    <h1>Inbox</h1>
  {% if received_message_count == 0 %}
    <div class="row">   
    No message received<br>
    </div> 
  {% else %}
    {% for i in received_message %} 
    <div class="row"> 
      Title: {{ i.title }} <br>
      Sent By: {{ i.sender }} <br>
      {{ i.body }}
    </div>
    <input type="button" onclick="location.href='/message/view?id={{i.messageid}}';" value="Detail">
    <br>
    {% endfor %}
  {% endif %}    
  </div>

  <br><br>
  
  <h1>Sent</h1>
  {% if sent_message_count == 0 %}
    <div class="row">   
    No message sent<br>
    </div> 
  {% else %}
    {% for i in sent_message %} 
    <div class="row"> 
      Title: {{ i.title }} <br>
      Recipient: {{ i.sender }} <br>
      Recipient viewed: {{ i.viewed }} <br>
      {{ i.body }}<br>
    </div>
    <input type="button" onclick="location.href='/message/view?id={{i.messageid}}';" value="Detail">  
    {% endfor %}
  {% endif %}  
    <br>
    <input type="button" onclick="location.href='/dashboard';" value="back">
  {% endblock %}
<!--
</body>
</html>
-->