<!---
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>ORS-Message</title>
    <style>
        body {
           background-color: rgb(189, 189, 189);
        }
        em {
            color: #06396F;
        }
    </style>
</head>

<body>
-->
{% extends "base_generic.html" %}

{% block title %}<title>ORS-Message</title>{% endblock %}

{% block content %}
  <div>
    <br>
    <input type="button" class="btn btn-primary" onclick="location.href='/message/create';" value="Sent New Message">
  </div>
  <div>
    <h1>Inbox</h1>
  {% if received_message_count == 0 %}
    <div class="alert alert-info" role="alert">   
    No message received<br>
    </div> 
  {% else %}
    {% for i in received_message %} 
    <div class="alert alert-secondary" role="alert">
      <table class="table table-sm">
        <tr>
          <th width="15%" scope="col">Title:</th>
          <td width="75%">{{ i.title }}</td>
        </tr>
        <tr>
          <th scope="col">sender:</th>
          <td>{{ i.sender }}</td>
        </tr>
      </table>
      {{ i.body }}
    </div>
    <input type="button" class="btn btn-info" onclick="location.href='/message/view?id={{i.messageid}}';" value="Detail">
    <div class="alert alert-light" role="alert"></div>
    {% endfor %}
  {% endif %}    
  </div>

  <br><br>
  
  <h1>Sent</h1>
  {% if sent_message_count == 0 %}
    <div class="alert alert-info" role="alert">   
    No message sent<br>
    </div> 
  {% else %}
    {% for i in sent_message %} 
    <div class="alert alert-secondary" role="alert">
      <table class="table table-sm">
        <tr>
          <th width="15%" scope="col">Title:</th>
          <td width="75%">{{ i.title }}</td>
        </tr>
        <tr>
          <th scope="col">Recipient:</th>
          <td>{{ i.recipient }}</td>
        </tr>
        <tr>
          <th scope="col">Recipient viewed:</th>
          <td>{{ i.viewed }}</td>
        </tr>
      </table>
      {{ i.body }}<br>
    </div>
    <input type="button" class="btn btn-info" onclick="location.href='/message/view?id={{i.messageid}}';" value="Detail"> 
    <div class="alert alert-light" role="alert"></div>
    {% endfor %}
  {% endif %}  
    <br>
    <input type="button" class="btn btn-dark" onclick="location.href='/dashboard';" value="back">
{% endblock %}
<!--
</body>
</html>
-->