{% extends "base_generic.html" %}

{% block title %}<title>Slot Selection</title>{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %} {{form.as_p }} 
    <label for="groupselect">Select Group</label>
    <select id="groupselect" name="groupselect">
        {% for gp in grouplist %} 
        <option value="{{ gp }}">{{ gp }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-common" name="group_select" id="group_select" type="submit" value="ok">Choose</button>
</form>


{% for gp in availableTimes %}
Group: {{gp.group}} <br>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    {% for s in gp.slots %}
    <tr>
        <th>{{s.id}}</th>
        <th>{{s.start}}</th>
        <th>{{s.end}}</th>
    </tr>
    {% endfor %}
</table>
<form action="" method="post">{% csrf_token %} {{form.as_p }}

    <button class="btn btn-common" name="slot_select" id="slot_select" type="submit" value="ok">save</button>
</form>
{% endfor %}


{% endblock %}