{% extends "base_generic.html" %}

{% block title %}<title>Slot Selection</title>{% endblock %}

{% block content %}
<br>
<form action="" method="post">{% csrf_token %} {{form.as_p }} 
    <label for="groupselect">Select Group</label>
    <select id="groupselect" name="groupselect">
        {% for gp in grouplist %} 
        <option value="{{ gp }}">{{ gp }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-secondary" name="group_select" id="group_select" type="submit" value="ok">Choose</button>
</form>



{% for gp in availableTimes %}
    <br>
    <div class="alert alert-primary" role="alert">
        Group: {{gp.group}}
    </div>
    <table class="table table-striped">
        <tr class="table-active">
            <th width="10%" scope="col">ID</th>
            <th width="35%">Start</th>
            <th width="35%">End</th>
        </tr>
        {% for s in gp.slots %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.start}}</td>
            <td>{{s.end}}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}

<br>
<p style="background-color:Tomato;">{{ formError }}</p>
<p style="background-color:MediumSeaGreen;">{{ formSuccess }}</p>
<br>
{% if currentGroup != 'All' %}
<div class="alert alert-success" role="alert">
    You are required to select at least {{min_required_length}} slots <br>
    <br>
    The slots you entered below will have a decending preference,
            The first slots will be yours most prefered and the last will be your least prefered
            <br><br>
    Please enter in this format: slotID, slotID, slotID, ... , slotID
</div>

<form action="" method="post">{% csrf_token %} {{form.as_p }}
    {% if previousSelection.flag %}
        <h3>Your Previous Selection</h3>
        {% for s in previousSelection.list %}
            {{s}} &#8592 
        {% endfor %}
        END
        <br>
        <div class="alert alert-warning" role="alert">
            WARNING: entering a new list will override the saved group list
          </div>
    {% endif %}
    <div class="alert alert-secondary" role="alert">
        <h2>Select Slots</h2> 
        <p style="background-color:orange;"></p>
        {% if failedSubmission.flag %}
        <p style="background-color:Tomato;">Your Rejected list:<br>{{ failedSubmission.list }}</p>
        {% endif %} 
        For group: {{currentGroup}}
        <textarea name="selectionlist" style="width:100%" rows="10" maxlength="4000"></textarea><br>
        <input type="hidden" id="group" name="group" value="{{ currentGroup }}">
    <br>
    {% if previousSelection.flag %}
        <button class="btn btn-primary" name="slot_select" id="slot_select" type="submit" value="ok">update</button>
    {% else %}
        <button class="btn btn-primary" name="slot_select" id="slot_select" type="submit" value="ok">save</button>
    {% endif %}
</div>
</form>

{% else %}
    <div class="alert alert-warning" role="alert">
        You have not select any group<br>
        Please choose one group on the top.
    </div>
{% endif %}



{% endblock %}