{% extends "base_generic.html" %}

{% block title %}<title>Slot Selection</title>{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %} {{form.as_p }} 
    <label for="groupselect">Select Group</label>
    <select id="groupselect" name="groupselect">
        {% for gp in grouplist %} 
        <option value="{{ gp }}">{{ gp }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-common" name="group_select" id="group_select" type="submit" value="ok">Choose</button>
</form>



{% for gp in availableTimes %}
    Group: {{gp.group}} <br>
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        {% for s in gp.slots %}
        <tr>
            <th>{{s.id}}</th>
            <th>{{s.start}}</th>
            <th>{{s.end}}</th>
        </tr>
        {% endfor %}
    </table>
{% endfor %}

<br>
<p style="background-color:Tomato;">{{ formError }}</p>
<p style="background-color:MediumSeaGreen;">{{ formSuccess }}</p>
<br>
{% if currentGroup != 'All' %}
<form action="" method="post">{% csrf_token %} {{form.as_p }}
    {% if previousSelection.flag %}
        <h3>Your Previous Selection</h3>
        {% for s in previousSelection.list %}
            {{s}} &#8592 
        {% endfor %}
        END
        <br>
        WARNING: entering a new list will override the saved group list
        <br><br>
    {% endif %}
    <h2>Select Slots</h2> 
    <a href="detail"> learn more</a><br><br>
    {% if failedSubmission.flag %}
    <p style="background-color:Tomato;">Your Rejected list:<br>{{ failedSubmission.list }}</p>
    {% endif %}
    For group: {{currentGroup}}
    <textarea name="selectionlist" style="width:100%" rows="10" maxlength="4000"></textarea><br>
    <input type="hidden" id="group" name="group" value="{{ currentGroup }}">
    <!-- {% for gp in availableTimes %}
        
        Class A:<br>
        <label for="A1">A1</label>
        <select id="A1" name="A1">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>

        <label for="A2">A2</label>
        <select id="A2" name="A2">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>

        <label for="A3">A3</label>
        <select id="A3" name="A3">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>

        <br>Class B:<br>
        <label for="B1">B1</label>
        <select id="B1" name="B1">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>

        <label for="B2">B2</label>
        <select id="B2" name="B2">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>
        
        <label for="B3">B3</label>
        <select id="B3" name="B3">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>
        
        <label for="B4">B4</label>
        <select id="B4" name="B4">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>  

        <label for="B5">B5</label>
        <select id="B5" name="B5">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>
        
        <br>Class C:<br>
        <label for="C1">C1</label>
        <select id="C1" name="C1">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>

        <label for="C2">C2</label>
        <select id="C2" name="C2">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>
        
        <label for="C3">C3</label>
        <select id="C3" name="C3">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>
        
        <label for="C4">C4</label>
        <select id="C4" name="C4">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>  

        <label for="C5">C5</label>
        <select id="C5" name="C5">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>

        <label for="C6">C6</label>
        <select id="C6" name="C6">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>

        <label for="C7">C7</label>
        <select id="C7" name="C7">
            {% for s in gp.slots %}
            <option value="{{ s.id }}">{{ s.id }}</option>
            {% endfor %}
        </select>
    {% endfor %} -->
    <br>
    <button class="btn btn-common" name="slot_select" id="slot_select" type="submit" value="ok">save</button>
</form>
{% else %}
    You have not select any group<br>
    Please choose one group on the top.
{% endif %}



{% endblock %}